<mat-toolbar>
  <span>ACME</span>
</mat-toolbar>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Money</mat-label>
      <input matInput name="money" formControlName="money" type="number" min="0">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput name="price" formControlName="price" type="number" [min]=0>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select [(ngModel)]="currency" name="currency" formControlName="country">
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name}}</mat-option>

      </mat-select>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="checker()" [disabled]="form.invalid">Submit</button>

  <br>
  <h4 *ngIf="sendBack.length !== 0">Your coins are:</h4>
  <div *ngFor="let change of sendBack">

    {{ change }}c
  </div>
</mat-card>